# 01. Importing libraries

In [2]:
# Importing libraries (pandas, numpy, os)
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [3]:
# Creating a path to source directory for task 4.4
path = r'C:\Users\Low_Ky_Savage_\Documents\CareerFoundry\03-04-2023 Instacart Basket Analysis'

In [4]:
# Importing oredes.csv to df pandas.read_csv and os.path.join
df_ords = pd.read_csv(os.path.join(path, '02 Data', '01 Original Data', 'orders.csv'), index_col = False)

In [5]:
# Importing products.csv to df_prods
df_prods = pd.read_csv(os.path.join(path, '02 Data', '01 Original Data', 'products.csv'), index_col = False)

# 03. Data Wrangling

### Dropping columns

In [6]:
# Drop a column
df_ords = df_ords.drop(columns = ['eval_set'])

##### Missing values count

In [9]:
# Missing values caunt of "days_since_prior_order"
df_ords['days_since_prior_order'].value_counts(dropna = False)

30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: days_since_prior_order, dtype: int64

### Renaming columns

In [10]:
# Rename a column
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

### Changing data types

In [11]:
# Changing a variable's data type
df_ords['order_id'] = df_ords['order_id'].astype('str')
df_ords['order_id'].dtype

dtype('O')

### Transposing data

In [13]:
# Import departments data
df_dep = pd.read_csv(os.path.join(path, '02 Data', '01 Original Data', 'departments.csv'), index_col = False)

In [14]:
# Transpose dateframe
df_dep_T = df_dep.T

In [15]:
# Reset/assign an index to the dataframe
df_dep_T.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [16]:
# Grab a specific row via index number
df_dep_T.iloc[0]

0    department
Name: department_id, dtype: object

In [17]:
# Copies header row
new_header = df_dep_T.iloc[0]

In [18]:
# Creates a new df from row 1 and onward of old df
df_dep_T_new = df_dep_T[1:]

In [19]:
# Set new header
df_dep_T_new.columns = new_header

In [20]:
# Change table name
df_dep_t_new = df_dep_T_new

# 04. Data dictionary

In [21]:
# Make a data dictionary from df_dep_t_new
data_dict = df_dep_t_new.to_dict('index')

In [28]:
# Result of data dictionary 
print(data_dict.get('19'))

{'department': 'snacks'}

# 05. Subsetting

In [29]:
# Creating subset version 1
df_snacks =  df_prods[df_prods['department_id']==19]

In [30]:
# Result of subset version 1 
df_prods['department_id']==19

0         True
1        False
2        False
3        False
4        False
         ...
49688    False
49689    False
49690    False
49691    False
49692    False
Name: department_id, Length: 49693, dtype: bool

In [33]:
# Creating subset version 2
df_snacks_2 = df_prods.loc[df_prods['department_id'] == 19]

In [32]:
# Creating subset version 3
df_snacks_3 = df_prods.loc[df_prods['department_id'].isin([19])]

# 4.4: Data Wrangling & Subsetting Task

In [35]:
# Step 2. Change the data type of a column
df_ords['user_id'].astype('str')

0               1
1               1
2               1
3               1
4               1
            ...
3421078    206209
3421079    206209
3421080    206209
3421081    206209
3421082    206209
Name: user_id, Length: 3421083, dtype: object

In [36]:
# Step 3. Change a variable name to something more intuitive
df_ords.rename(columns = { 'orders_day_of_week' : 'order_day_of_week'})

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [37]:
# Step 4. Find the busiest hour for placing orders.
df_ords['order_hour_of_day'].value_counts()

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: order_hour_of_day, dtype: int64

In [ ]:
The busiest hour for palcing orders is 10 am (288418)

In [38]:
# Step 5. Find the definition of value 4 in department_id
print(data_dict.get('4'))

{'department': 'produce'}

In [39]:
# Step 6. Create a subset of breakfast items from df_prods
df_breakfast = df_prods[df_prods['department_id'] == 14]
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

In [47]:
# Step 7. Create a dinner parties subset from df_prods
df_dinner_party = df_prods.loc[df_prods['department_id'].isin([5,7,12,20])]
df_dinner_party.head(10)

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0
22,23,Organic Turkey Burgers,49,12,8.2
34,35,Italian Herb Porcini Mushrooms Chicken Sausage,106,12,15.1
38,39,Daily Tangerine Citrus Flavored Beverage,64,7,12.5
39,40,Beef Hot Links Beef Smoked Sausage With Chile ...,106,12,22.5

In [48]:
# Step 8. Total row count for df_dinner_party
df_dinner_party.shape

(7650, 5)

In [42]:
# Step 9. Create a subset for customer with user_id 1
df_cust_1 = df_ords.loc[df_ords['user_id'] == 1]
df_cust_1.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [43]:
# Step 10. Provide basic stats on df_cust_1
df_cust_1.describe()

,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,11.0,11.000000,11.000000,11.000000,10.000000
mean,1.0,6.000000,2.636364,10.090909,19.000000
std,0.0,3.316625,1.286291,3.477198,9.030811
min,1.0,1.000000,1.000000,7.000000,0.000000
25%,1.0,3.500000,1.500000,7.500000,14.250000
50%,1.0,6.000000,3.000000,8.000000,19.500000
75%,1.0,8.500000,4.000000,13.000000,26.250000
max,1.0,11.000000,4.000000,16.000000,30.000000

In [45]:
# Step 12. Export df_ords
df_ords.to_csv(os.path.join(path, '02 Data','02 Prepared Data', 'orders_wrangled.csv'))

In [46]:
# Step 13. Export df_dep_t_new
df_dep_t_new.to_csv(os.path.join(path, '02 Data','02 Prepared Data', 'departments_wrangled.csv'))