# 01. Import libaries

In [1]:
# Importing libraries (pandas, numpy, os)
import pandas as pd
import numpy as np
import os

# 02. Import data

In [2]:
# Defining path
path = r'C:\Users\Low_Ky_Savage_\Documents\CareerFoundry\03-04-2023 Instacart Basket Analysis'

In [3]:
# Importing 'orders_products_merged.pkl'
df_orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', '02 Prepared Data', 'orders_products_merged.pkl'))

# 03. Exercise 4.7

In [4]:
df_orders_products_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,1,2,8,999.0,196,1,0,Soda,77,7,9.0,both
1,1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [5]:
# Creating a subset
df = df_orders_products_merged[:1000000]

#### 1. If-Statement using function

In [6]:
# Defining a function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
# Applying the function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Low_Ky_Savage_\AppData\Local\Temp\ipykernel_15116\2918228003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [8]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [9]:
df['prices'].max()

14.8

#### 2. If-Statements with the loc() Function
##### Aplying loc() function to dataset

In [10]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df_orders_products_merged.loc[(df_orders_products_merged['prices'] <= 15) & (df_orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
df_orders_products_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

#### 3. If-Statements with For-Loops

In [14]:
df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [15]:
result = []

In [17]:
for value in df_orders_products_merged['orders_day_of_week']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [18]:
df_orders_products_merged['busiest_day'] = result

In [19]:
df_orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [20]:
df_orders_products_merged.shape

(32404859, 18)

# 4.7: Deriving New Variables

#### Q2. Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method

In [21]:
df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [22]:
# Creating the vector where the outputs from the loop will be stored
result2 = []

In [23]:
# Creating the loop
for value in df_orders_products_merged['orders_day_of_week']:
  if value == 0 or value ==1:
    result2.append('Busiest days')
  elif value == 4 or value == 3:
    result2.append('Slowest days')
  else:
    result2.append('Regularly days')

In [24]:
# Create a new column in 'df_orders_products_merged' named busiest_days
df_orders_products_merged['busiest_days'] = result2

In [25]:
df_orders_products_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,0,0,2539329,1,1,2,8,999.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days
1,1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
2,2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
3,3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days
4,4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

#### Q3. Check the values of this new column for accuracy. Note any observations in markdown format.

In [26]:
# Checking value counts
df_orders_products_merged['busiest_days'].value_counts(dropna = False)

Regularly days    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest_days, dtype: int64

In [27]:
df_orders_products_merged.shape

(32404859, 19)

#### Q4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [28]:
# Creating a dataframe with the count of values for the column 'order_hour_of_day'
counts = df_orders_products_merged['order_hour_of_day'].value_counts().rename_axis('hour').reset_index(name='counts')

In [29]:
counts

    hour   counts
0     10  2761760
1     11  2736140
2     14  2689136
3     15  2662144
4     13  2660954
5     12  2618532
6     16  2535202
7      9  2454203
8     17  2087654
9      8  1718118
10    18  1636502
11    19  1258305
12    20   976156
13     7   891054
14    21   795637
15    22   634225
16    23   402316
17     6   290493
18     0   218769
19     1   115700
20     5    87961
21     2    69375
22     4    53242
23     3    51281

In [30]:
# Creating a list showing the percentiles for the value counts of the column 'order_hour_of_day'
orders = list(df_orders_products_merged['order_hour_of_day'].value_counts().quantile([0.25, 0.5, 0.75]))

In [31]:
orders

[272562.0, 1117230.5, 2556034.5]

#### Grouping: most orders, average orders and fewest orders, according to percentiles:

##### Lists: I created thre lists for the three different labels: “Most orders,” “Average orders,” and “Fewest orders":

In [32]:
# Fewest orders list
few = list(counts.loc[counts['counts'] <= orders[0]]['hour'])

In [33]:
# Average orders list
avg_ords = list(counts[(counts['counts'] > orders[0]) & (counts['counts'] < orders[2])]['hour'])

In [34]:
# Most orders list
Mos_ords = list(counts.loc[counts['counts'] >= orders[2]]['hour'])

##### Index: I created three indexs for the three different labels: “Most orders,” “Average orders,” and “Fewest orders":

In [35]:
index_few = df_orders_products_merged['order_hour_of_day'].isin(few)

In [36]:
index_avg_ords = df_orders_products_merged['order_hour_of_day'].isin(avg_ords)

In [37]:
index_Mos_ords = df_orders_products_merged['order_hour_of_day'].isin(Mos_ords)

##### Create a new column containing these labels called “busiest_period_of_day.”:

In [38]:
df_orders_products_merged.loc[index_few,'busiest_period_of_day'] = 'Fewest orders'

In [39]:
df_orders_products_merged.loc[index_avg_ords,'busiest_period_of_day'] = 'Average orders'

In [40]:
df_orders_products_merged.loc[index_Mos_ords,'busiest_period_of_day'] = 'Most orders'

In [41]:
df_orders_products_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0,0,2539329,1,1,2,8,999.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Average orders
1,1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

In [42]:
df_orders_products_merged.shape

(32404859, 20)

#### Q5. Print the frequency for this new column.

In [43]:
df_orders_products_merged['busiest_period_of_day'].value_counts()

Most orders       16128666
Average orders    15679865
Fewest orders       596328
Name: busiest_period_of_day, dtype: int64

#### Q6. Ensure your notebook is clean and structured and that your code is well commented.

Done

#### Q7. Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [45]:
# Export to PKL
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','02 Prepared Data', 'orders_products_merged_update.pkl'))